version : '3'
services:
  mongo-express:
    image: mongo-express:latest
    ports:
        - 8080:8081

    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - ME_CONFIG_MONGODB_SERVER=mongodb

    depends_on:
      - mongodb

   

  user_crud:
    image: user-crud:latest

    container_name: user_crud

    ports:
      - 3000:3000

    depends_on:
      - mongodb

    environment:
      - DB_CONN=mongodb://admin:password@mongodb:27017/users?authsource=admin

      
  mongodb:
    image: mongo:7.0
    ports:
      - 27017:27017

    container_name: mongodb

    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo-data:/data/db 
      
volumes:
  mongo-data:
    driver: local


      